.card {
  border-radius: 10px;
}

.card-header {
  /* background-color: #f8f9fa; */
  border-bottom: 1px solid #e9ecef;
}

.card-title {
  margin-bottom: 0;
}

.form-label {
  font-weight: 500;
}

.footer {
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

.footer .text-muted {
  font-size: 14px;
}

.projectsearchBox:focus {
  box-shadow: none !important;
  border-color: #dad4ce !important;
}

/* ------------updated */

.colorContainer {
  color: rgb(5, 5, 66);
}

.btn {
  /* background-color: rgb(5, 5, 66) !important; */
}

th {
  background-color: rgb(9, 9, 57) !important;
  color: white;
  font-weight: 400;
}

td,
th {
  padding-left: 15px;
}

.cardheader {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 50%,
    rgba(49, 152, 187, 1) 85%,
    rgba(0, 212, 255, 1) 100%
  ) !important;
  color: white;
  font-weight: 400;
}

.modal-body {
  background-color: rgba(5, 5, 66, 0.1) !important;
  font-size: 14px;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.createProjectbtn {
  background: rgb(3, 1, 37);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 50%,
    rgba(49, 152, 187, 1) 85%,
    rgba(0, 212, 255, 1) 100%
  ) !important;
  border: none !important;
}


/* btn animation  */

.btn-shine {
  transform: translate(-50%, -50%);
  color: #ffffff;
  background: linear-gradient(to right, #070707 0, white 100%, #6e6e6e 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 7s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
}
@keyframes shine {
  0% {
    background-position: 0px;
  }

  100% {
    background-position: 300px;
  }
}