.card {
  border-radius: 10px;
}

.card-header {
  /* background-color: #f8f9fa; */
  border-bottom: 1px solid #e9ecef;
}

.card-title {
  margin-bottom: 0;
}

.form-label {
  font-weight: 500;
}

.footer {
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

.footer .text-muted {
  font-size: 14px;
}

.projectsearchBox:focus {
  box-shadow: none !important;
  border-color: #dad4ce !important;
}
